{% extends "core/base.html" %}

{% load static %}

{% block title %} Med Agenda {% endblock %}

{% block content %}
<main class="container mt-5">
    <section class="text-center">
        <h1 class="fs-2 fw-bold">Bem-vindo {{ user.name }}</h1>
        <p class="text-secondary">Gerencie seus agendamentos médicos de forma simples e rápida.</p>
    </section>

    <section class="text-center mt-5">
        <div class="container">
            <div class="row justify-content-center g-3">
                
            </div>
        </div>
    </section>


</main>
{% endblock %}